
<%= form_for(user, :html => {:class => "form-horizontal center"}) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <div class='row'>
      <p class='col-xs-4'>
        <%= f.label :num, 'Number' %>
        <%= f.text_field :num,  class: 'form-control' %>
      </p>
      <p class='col-xs-4'>
        <%= f.label :rank%>
        <%= f.text_field :rank, class: 'form-control' %>
      </p>
      <p class='col-xs-4'>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', placeholder: "Surname" %>
      </p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, type: 'email', class: 'form-control', placeholder: 'name@email.com', style: 'width:75%;' %>
  </div>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, type: 'password', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, type: 'password', class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if can? :assign_roles, @user %>
      <%= f.collection_select :role, User::ROLES, :to_s, :humanize, class: 'form-control form-control-lg'%>
    <% end %>
  </div>

  <div class='form-group'>
    <%= f.submit class: 'btn btn-default'%>
  </div>
<% end %>
