<!-- Use for_for in order to pick up bootstrap styles -->

<%= form_tag user_sessions_path, method: :post do %>

  <div class="form-group">
    <%= label_tag :email%>
    <span class='form-control'><%= text_field_tag :email %></span>
  </div>
  <div class="form-group">
    <%= label_tag :password %>
    <%= password_field_tag :password, class => 'form-control'%>
  </div>
  <div class='form-group'>
    <%= submit_tag "Login", class:'btn btn-default' %>
  </div>
  <% end %>
