
<%= form_tag user_sessions_path, :class => 'form-horizontal center', method: :post  do %>
<h2 class='subtitle center_text'>Please Login</h2>
<p class='subtitle center_text'>You do not require a Login to submit an InForm, just select the 'Submit InForm' button above. A Login allows you to view submitted InForms and Responses.</p>
<div class='row'>
  <div class='col-xs-12 col-md-4'></div>
  <div class='col-xs-12 col-md-4'>
    <div class="form-group">
      <%= label_tag :email%>
      <%= text_field_tag :email, "", class: 'form-control', placeholder: 'myemail@email.com' %>
    </div>
    <div class="form-group">
      <%= label_tag :password %>
      <%= password_field_tag :password, "", class: 'form-control', placeholder: 'password' %>
      <p class='subtitle center_text'>Forgotten password? Contact the Wksp FSO to get it reset.</p>
    </div>
    <div class='form-group'>
      <%= submit_tag "Login", class:'btn btn-default', style: 'width:100%;' %>
    </div>
    <div class='form-group'>
      <%= link_to "Create Login", new_user_path, class:'btn btn-default', style: 'width:100%;' %>
    </div>

  <div>
  <div class='col-xs-12 col-md-4'></div>
<% end %>
