<%= form_for(@in_forms, :html => {:class => "form-horizontal center"}) do |f| %>
  <ul>
    <% @in_forms.errors.full_messages.each do |error| %>
    <li><%= error %> </li>
    <% end %>
  </ul>

  <div class='form-group'>
    <div class='row'>
      <p class='col-xs-4'>
        <%= f.label :number %>
        <% if logged_in? %>
            <%= f.text_field :num, class: 'form-control', value: current_user.num %>
        <% else %>
            <%= f.text_field :num, class: 'form-control', placeholder: 'Regt Number'%>
        <% end %>
      </p>
      <p class='col-xs-4'>
        <%= f.label :rank %>
        <% if logged_in? %>
          <%= f.text_field :rank, class: 'form-control', value: current_user.rank%>
        <% else %>
          <%= f.text_field :rank, class: 'form-control'%>
        <% end %>
      </p>
      <p class='col-xs-4'>
        <%= f.label :name %>
        <% if logged_in? %>
          <%= f.text_field :name, class: 'form-control', value: current_user.name%>
        <% else %>
          <%= f.text_field :name, class: 'form-control', placeholder: 'First Name & Surname'%>
        <% end %>
      </p>
    </div>
  </div>

  <div class='form-group'>
    <%= f.label :email%>
    <% if logged_in? %>
      <%= f.text_field :email, type: 'email', class: 'form-control', value: current_user.email, style: 'width:75%;'%>
    <% else %>
      <%= f.text_field :email, type: 'email', class: 'form-control', placeholder: 'name@email.com', style: 'width:75%;'%>
    <% end %>
  </div>
  <div class='form-group'>

    <%= f.label :description %>
    <%= f.text_area :body, class: 'form-control', :rows => 10, style: 'width:100%;' %>

  </div>
  <div class='form-group'>
    <%= f.submit class: 'btn btn-default'%>
  </div>


<% end %>
