<%= render partial: 'header' %>

<h2 class="subtitle">InForm submitted at: <%= @in_forms.created_at %></h2>

<h4 class="subtitle">Submitted by: <%= @in_forms.num %> <%= @in_forms.rank %> <%= @in_forms.name %></h4>

<h4 class="subtitle">Sub-Unit: <%= @in_forms.pl %></h4>

<h4 class="subtitle">InForm Description:</h4><p><%= @in_forms.body %></p>

<div class="row">
  <div class="col-xs-2"><%= link_to "Back to List", in_forms_path, class: " btn btn-default nav_text"%></div>
  <div class="col-xs-2"><%= link_to "Edit InForm", edit_in_form_path(@in_forms), class: "btn btn-default nav_text" %></div>
  <div class="col-xs-2"><%= link_to "Delete InForm", in_form_path(@in_forms), method: :delete, class: "btn btn-default nav_text", data: {confirm: "Are you sure you want to delete this Inform?"} %></div>
  <div class="col-xs-2"></div>
  <div class="col-xs-2"></div>
  <div class="col-xs-2"></div>
</div>
