<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type" >
  </head>
  <body>
    <p class = 'subtitle'> Your inform has recieved a response from <%=@comment.author_name%></p>
    <h4 class="subtitle">Submitted by: <%=@in_form.email%></h4>
    <h2 class="subtitle">InForm submitted at: <%= @in_form.created_at %></h2>

    <h4 class="subtitle">Submitted by: <span class='output_text'><%= @in_form.num %> <%= @in_form.rank %> <%= @in_form.name %></span></h4>

    <h4 class="subtitle">Sub-Unit: <span class='output_text'><%= @in_form.pl %></span></h4>

    <hr></hr>

    <h4 class="subtitle">InForm Description:</h4><p><%= @in_form.body %></p>

    <hr></hr>

    <h4 class='subtitle'>Response/Update (<%=@in_forms.comments.size%>):</h4>
    <%= render partial: 'in_forms/comment', collection: @in_forms.comments %>

    <hr></hr>

    <p class='subtitle'>Click on the following link to view/edit your inform:</p>

  </body>
</html>
